.border-layout .x-layout-split-left, .border-layout .x-layout-split-bottom{
    color: #03a9f4 !important;
}
.border-layout .x-border-layout-ct{
    background-color: transparent !important;
}
.accordian-layout .x-panel-body-default{
    background-color: #fff !important;
}
.card-inner-div{
    padding: 10px;
}
.accordian-layout .x-docked-bottom{
    padding: 10px 10px 15px 0 !important;
    height: 100px !important;
    background-color:#fff !important;
}
.layouts-wrap p{
	margin: 5px 0;
}
.layouts-wrap h2{
	margin: 0;
}

.layouts-wrap .x-toolbar-default{
	background: #fff;
	padding: 8px 0;
}

.next-btn{
    left: auto !important;
    right: 20px !important;
}
.previous-btn{
    left: auto !important;
    right: 105px !important;
}