/* TO BE EDITED BY LAKHAN ONLY */
.x-form-item-label-default{
    color: #888 !important;
}
.forms_general_container .x-panel-header {

}
.iconAddonsTextFieldCls .x-form-item {
    display: table !important;
    table-layout: auto !important;
    border-spacing: 0 !important;
    border-collapse: separate !important;
}
.iconAddonsTextFieldCls .x-form-item-label{
    width : 50px !important;
}

.form-panel .x-panel-body-default{
    background-color: #fff !important;
    /*border: 1px solid #e8e8e8 !important; */
}
.validation-top-tab-panel .x-panel-body-default {
    background: white !important;
}
.form-panel.x-panel-widget-panel{
    box-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
}
.form-panel-border{
    border-color: #e8e8e8; 
}
.form-panel .textfield{
    margin-right:15px;
}
.form-panel.horizontal-form .textfield{
    width: 100% !important;
}
.form-panel-button{
    background-color: #82c748 !important;
    border-color:#82c748 !important;
}
.form-panel-button:hover{
    background-color: #fff !important;
}
.form-panel-button.x-btn-focus{
    border-left-color: #777 !important;
}
.form-panel-button:hover .x-btn-inner{
    color: #82c748 !important;
}

.form-panel-reset-button{
    background-color: #cecece !important;
    border-color: #cecece !important;
}
.form-panel-reset-button:hover{
    background-color: #fff !important;
}
.form-panel-reset-button:hover .x-btn-inner{
    color: #cecece !important;
}
.form-panel-reset-button.x-btn-focus{
    border-left-color:#777 !important;
}
.form-panel-font-color{
    color : #888;
}
.blocked-style-form .x-panel-body table tbody tr:last-child td:last-child{
    text-align: right !important;
}
.form-validation-warning .x-form-trigger-wrap-default{
    border-color: #e3a620 !important;
    box-shadow: 0px 0px 5px #e3a620 !important;
}
.form-validation-error .x-form-trigger-wrap-default{
    border-color: #e3495a !important;
    box-shadow: 0px 0px 5px #e3495a !important;
}
.form-validation-success .x-form-trigger-wrap-default{
    border-color: #389033 !important;
    box-shadow: 0px 0px 5px #389033 !important;
}
.x-tagfield-item{
    background:#e3f0f6 !important;
    border-radius:2px !important;
    margin-left:1px !important;
    color: #000 !important;
    font-size: 13px !important;  
}
.form-panel .x-form-trigger-default{
    color: #959595 !important;
    font-size: 18px !important;
    padding-top: 2px !important;
}
.basic-form-file-input .x-form-trigger-wrap {
    border-width: 0px !important;
}
.x-form-file-btn{
    /* background-color: #e8e8e8;*/
}
.cloud-upload{
    /* background-color: #35baf8;*/
}
.vertical-slider .x-slider-ct-vert {
    padding-left: 15px !important;
    padding-bottom: 15px !important;
}

/* When we migrate application css to scss, we can directly extend 
the x-focus, x-hover, etc classes */

.slider-focus .x-slider-horz .x-slider-thumb:before {
    content: "\f192" !important;
}

.slider-focus-hover .x-slider-horz .x-slider-thumb:before {
    content: "\f1db" !important;
}

.slider-drag .x-slider-horz .x-slider-thumb:before {
    content: "\f055" !important;
}

.slider-hover .x-slider-horz .x-slider-thumb:before {
    content: "\f10c" !important;
}



.coditas-forms-page .x-form-text-field-body-default, .coditas-forms-page .x-form-trigger-wrap{
    height: 32px !important;    
}
.form-panel .x-form-error-wrap {
    height: 8px !important;
}
.right-error-container .form-panel .x-form-error-wrap{
    float: right !important;
}
.coditas-forms-page .x-form-trigger-wrap-default.x-form-trigger-wrap-invalid.x-form-trigger-wrap-focus{
    box-shadow: 0 0 5px #f7d9dc !important;
}
.registration_message_image {
    height: 90px;
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-tab-panel > .x-panel-body {
    margin-top:10px !important;
}

.form-progress-bar {
    width: 100%;
    height:10px;
}

.no-label-form .x-form-text-default.x-form-textarea {
    min-height: 130px !important;
}
.widget-top-container, .widget-top-container .x-panel-body-widget-panel{
    background-color: #458FD2 !important;
}

.wizard-register-inner-container{
    text-align: center;   
    vertical-align: middle;
    color: #fff;
}
.wizard-register-header{
    font-size: 22px;    
    font-weight: normal;
}
.wizard-register-button-container{
    text-align: center; 
}
.wizard-register-button-container .fa{
    color: #fff;
    font-size: 14px;
}
.wizard-top-right-tab-panel .fa{
    font-size: 14px !important;
}
.wizard-top-right-tab-panel .x-form-text-default.x-form-textarea{
    height: 180px !important;    
}

.labelTextAlignCenterCls {
    text-align: center;
}

/*cls to hide grid columns headers*/
.hideGridColumnHeaderCls .x-grid-header-ct {
    border: 1px solid #c1c1c1 !important;
    display: none !important;
}

/**************remove after testing*/

.widgetSecondGridDivCls
{
    display:inline-flex;
}
.widgetSecondInnerGridDivCls
{
    flex:1;
}
.widgrid-bg-success, .bg-success a {
    color: #fff;
}
.widgrid-bg-success {
    background-color: #9cc96b;
}
.widgrid-icon-circle {
    border-radius: 50%;
}
.widgrid-icon-wrap-sm {
    padding: 12px;
}
.widgrid-icon-wrap {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}

.widgrid-icon-wrap i {
    display: block;
    line-height: 1em;
    text-align: center;
    position: relative;
    width: 1em;
    padding-top: 1em;
    vertical-align: middle;
}
.widgrid-fa-2x {
    font-size: 2em;
}
.myspan .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
/************remove after testing*/
