//Sencha overrides
.x-field {
	font-weight: 100;
}

$list-active-color: #f7f7f7;
$list-pressed-color: transparent;
$toolbar-input-border-color: rgba(0,0,0,.25);
$list-item-padding: 15px;
.x-list {
	.x-list-item {
		.x-list-item-body,
		&.x-list-item-tpl .x-innerhtml {
			height: 100%;
			padding: 20px $list-item-padding;
		}
	}
}