{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "jest": true,
    "assert": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0
  }
}
